@model ExamMinEdu.Models.Url

@{
    ViewBag.Title = "Error";
}

<h2>La URL corta ya se encuentra asignada a otra dirección!</h2>
<br />
<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
